body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 15px;
    display: block;
}

/* header ul li a i {
    font-size: 60px;
} */

header ul li a:hover,
header ul li a.active {
    background: yellowgreen;
}