html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

html {
  /* height: 100%; */
}
.test {
  width: 100%;
  background: pink;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0px auto;
}

.redStrip {
  background: red;
  width: 100%;
  padding: 3px 0;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.redStrip div {
  width: 30%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.logo {
}
.businessName {
  width: calc(100% - 330px);
}
.businessName h1 {
  color: rgb(173, 19, 19);
  font-size: 34px;
  margin: 0;
  padding: 0;
}
.businessName h4 {
  color: #000;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.azadi {
  display: flex;
  align-items: center;
}
.navigation {
  width: 100%;
  background: #27408b;
  float: left;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  /* display: inline-block; */
  float: left;
}
.navigation ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border-left: solid 1px #fff;
  padding: 10px 15px;
  float: left;
}
.navigation ul li a:last-child {
  border-right: solid 1px #fff;
}
.sidebar {
  height: calc(100vh - 189px);
  width: 200px;
  background: #000;
}
.socialMedia {
  width: 100px;
  background: lime;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 20px; /* required */
}
.socialMedia ul {
}
.socialMedia ul li {
  list-style: none;
}
.socialMedia ul li a {
  color: #000;
  text-decoration: none;
}

.socialMedia ul li a img {
  width: 60px;
  margin: 0px auto;
}
